.venv/
venv
.venv
venv/
__pycache__/
*.py[cod]
*.log

*.csv#
*.csv
.pytest_cache/

*.png
*.pkl
# Model artifacts
*.joblib
*.dpkgl


gitcommit
*.dump
*.backup
*.sql.gz
*.sql
*.ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/
#archivo temporal
gitcommit
